.CriteriaForm {
  display: flex;
  padding-top: 20px;
}

.CriteriaForm .price-input {
  width: 50px;
}

.CriteriaForm .category-div,
.playtime-div,
.playercount-div,
.price-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.CriteriaForm label {
  padding-bottom: 5px;
  padding-top: 5px;
}

.CriteriaForm input {
  border-radius: 50px;
  border: none;
  padding: 5px;
}

.CriteriaForm input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  border-radius: 15px;
  background-color: white;
}

.CriteriaForm input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;

  -webkit-appearance: none;
  color: #13bba4;
  /* margin-top: -1px; */
}

.CriteriaForm input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  /* cursor: ew-resize; */
  background: #5f5d5d;
  box-shadow: -85px 0 0 80px black;
  border-radius: 50%;
}

.CriteriaForm select {
  border-radius: 50px;
  border: none;
  padding: 5px;
}

.CriteriaForm p {
  margin: 0;
}

.CriteriaForm .range-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CriteriaForm .playtime-paragraph {
  width: 38px;
}

.CriteriaForm button {
  display: flex;
  width: 70px;
  margin-top: 5px;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
  background-color: white;
  padding: 7px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.CriteriaForm .btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CriteriaForm button:hover {
  background-color: black;
  color: white;
  transition: 200ms;
}

@media only screen and (min-width: 768px) {
  .CriteriaForm {
    flex-direction: row;
  }
  .CriteriaForm .category-playtime-div,
  .playercount-price-div {
    display: flex;
  }
  .CriteriaForm .btn-div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 30px;
  }
}
