.FriendProfile {
  padding: 250px 20px 20px 20px;
}

.FriendProfile ul {
  padding: 30px 30px 30px 30px;
  display: flex;
  overflow-x: scroll;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(196, 71, 133) 0%,
    rgba(14, 14, 247, 0.342) 80%
  );
}
::-webkit-scrollbar-thumb {
  background-color: rgba(252, 2, 23, 0.401);
  border-radius: 10px;
  border: 1px solid black;
}

.FriendProfile .my-friends-stuff p {
  text-align: center;
}

.FriendProfile li {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-color: white;
  flex-direction: column;
  margin: 10px;
  height: 290px;
  min-width: 260px;
  align-items: center;
  background-image: linear-gradient(white 70%, silver);
}

.FriendProfile li img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 190px;
}

.FriendProfile .my-friends-stuff {
  width: 100%;
  box-sizing: border-box;
}

.FriendProfile .trash-friend {
  cursor: pointer;
  width: 27px;
}

.FriendProfile .profilePic {
  border-radius: 50%;
  margin-right: 20px;
}

.FriendProfile .profile-name-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FriendProfile .img-trash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FriendProfile .add-friend-btn {
  margin-top: 5px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  padding: 7px;
  font-size: 12px;
}

.FriendProfile .add-friend-btn:hover {
  background-color: black;
  color: white;
  transition: 200ms;
  border: 1px solid white;
}

.FriendProfile h2,
h3 {
  color: white;
}

.FriendProfile h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
}
