.Header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  height: 250px;
  background-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(100, 100, 100, 0));
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.Header .logo {
  width: 250px;
}

.Header h1 {
  margin: 0;
}

.Header .back-arrow {
  width: 50px;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  border: 1px solid white;
}

.Header .profile-pic {
  border-radius: 50px;
  height: 70px;
  width: 70px;
}

.Header .google-signin-button {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.Header .google-signin-button button {
  width: 80px;
  font-size: 14px;
}

.Header .sign-in {
  width: 80px;
  font-size: 14px;
}

.Header .google-signin-button p {
  margin: 0;
  text-decoration: none;
}

.Header .sign-out,
.sign-in {
  margin-top: 5px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  padding: 7px;
  font-size: 12px;
}

.Header .sign-out:hover,
.sign-in:hover {
  background-color: black;
  color: white;
  transition: 200ms;
  border: 1px solid white;
}

.Header a {
  text-decoration: none;
  color: white;
}

.Header .sign-in-div {
  width: 118px;
  display: flex;
  align-items: center;
}

.Header .sign-in {
  bottom: 35px;
  position: relative;
}

.Header .back-arrow-div {
  width: 118px;
  position: relative;
  top: 50px;
  height: 60px;
}
