.Main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #01024e, #ff6464, #543864, #8b4367);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100%;
  padding-top: 250px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Main h2 {
  color: white;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 40px;
}

.Main .forms-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.Main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 18px;
}

.Main li {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-color: white;
  flex-direction: column;
  margin: 10px;
  height: 290px;
  width: 260px;
  align-items: center;
  background-image: linear-gradient(white 70%, silver);
}

.Main li p {
  text-align: center;
}

.Main p {
  text-align: center;
}

.Main img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

@media only screen and (min-width: 768px) {
}
