.MyFriends {
  height: 100vh;
  padding: 250px 20px 0 20px;
}

.MyFriends h2 {
  text-align: center;
  color: white;
  margin-bottom: 70px;
}

.MyFriends ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.MyFriends li {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.MyFriends a {
  text-decoration: none;
  color: white;
}

.MyFriends img {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .MyFriends li {
    width: 25%;
  }
}

@media only screen and (min-width: 1500px) {
  .MyFriends li {
    width: 20%;
  }
}
