.MyFriends {
  height: 100vh;
  padding: 250px 20px 0 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.MyFriends h2 {
  text-align: center;
  color: white;
  margin-bottom: 70px;
}

.MyFriends ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.MyFriends li {
  display: flex;
  flex-direction: column;
}

.MyFriends a {
  text-decoration: none;
  color: white;
}

.MyFriends img {
  border-radius: 50%;
}
