.MyFriends {
  height: 100vh;
  padding: 250px 20px 0 20px;

  background-size: 400% 400%;
}

.MyFriends h2 {
  text-align: center;
  color: white;
  margin-bottom: 70px;
}

.MyFriends ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.MyFriends li {
  display: flex;
  flex-direction: column;
}

.MyFriends a {
  text-decoration: none;
  color: white;
}

.MyFriends img {
  border-radius: 50%;
}
