.Profile {
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  height: 100vh;
}

.Profile .search-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.Profile .circle-div {
  font-size: 50px;
  background: linear-gradient(70%, transparent) white;
  transition: background-color 1s, color 1s;
  place-content: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-sizing: border-box;
}

.Profile .my-wishlist-div {
  margin-bottom: 20px;
}

.Profile .my-friends-div {
  margin-top: 20px;
}

.Profile .circle-div:hover,
.circle-div:focus {
  border: 3px solid black;
  background-color: silver;
}

.Profile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.Profile a {
  color: white;
  text-decoration: none;
}

.Profile a:hover {
  -webkit-text-stroke: 0.5px black;
  transition: 1s;
}

@media only screen and (min-width: 768px) {
  .Profile ul {
    flex-direction: row;
  }
  .Profile .circle-div {
    margin: 30px;
  }
}
