.SearchResults {
  height: 100%;
  padding-top: 250px;
}

.SearchResults h2 {
  text-align: center;
  color: white;
}

.SearchResults ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.SearchResults li {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-color: white;
  flex-direction: column;
  margin: 10px;
  height: 290px;
  width: 260px;
  align-items: center;
  background-image: linear-gradient(white 70%, silver);
}

.SearchResults img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.SearchResults p {
  margin-top: 10px;
  text-align: center;
}
