.SingleGame {
  color: white;

  height: 100%;
}

.SingleGame .game-information {
  padding-top: 165px;
}

.SingleGame h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0 0 0;
}

.SingleGame .game-information p {
  border-radius: 10px;
  color: white;
}

.SingleGame .single-game-img img {
  border: 3px solid black;
  padding: 40px;
  background-image: linear-gradient(white 90%, silver);
  width: 300px;
}

.SingleGame .single-game-img {
  display: flex;
  justify-content: center;
}

.SingleGame form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.SingleGame img {
  margin-top: 19px;
  margin-bottom: 10px;
  width: 70px;
}

.SingleGame .comment-box {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.SingleGame .review-title {
  font-size: 25px;
}

.SingleGame .review-header {
  display: flex;
  border-bottom: 2px solid black;
}

.SingleGame .user-account img {
  border-radius: 50px;
  height: 50px;
  margin-top: 6px;
}

.SingleGame .user-account p {
  margin: 0;
  font-size: 12px;
}

.SingleGame .review-title {
  font-size: 40px;
}

.SingleGame .review-box {
  margin-bottom: 40px;
}

.SingleGame .comment-li {
  margin-left: 40px;
}

.SingleGame .single-game-buttons {
  display: flex;
  justify-content: center;
}

.SingleGame .shelf-button {
  margin-right: 245px;
}

.SingleGame .review-submit-btn {
  margin: 10px 0;
  background-color: white;
  border-radius: 50px;
}

.SingleGame .review-submit-btn:hover {
  background-color: black;
  color: white;
  transition: 200ms;
}
