body {
  background: linear-gradient(-45deg, #01024e, #ff6464, #543864, #8b4367);
  margin: 0;
  font-family: "Schoolbell", cursive;
  font-weight: 600;
  font-size: 20px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

button {
  font-family: "Schoolbell", cursive;
  font-weight: 600;
  font-size: 15px;
}

input {
  font-family: "Schoolbell", cursive;
}

ul {
  margin: 0;
  padding: 0;
}
